<div class="main-content">
	<div class="application-container user-edit edit-on">
		
		<div class="application-header">
			<a href="admin" jslink program><span class="cancel-btn">Cancelar</span></a>
			<span class="save-btn">Crear</span>
		</div><!-- application-header -->
		
		<div class="application-body">
			<div class="application-form user-form">
				<div class="form-group">
					<span class="label">Nombre</span>
					<input name="name" type="text"  class="edit">
				</div>
				<div class="form-group">
					<span class="label">Apellidos</span>
					<input name="surname" type="text"  class="edit">
				</div>
				<div class="form-group">
					<span class="label">Correo electrónico</span>
					<input name="email" type="text"  class="edit">
				</div>

				<div class="form-group password">
					<span class="label">Perfil</span>
					<select name="profile">
						<option value="1">Lector</option>
						<option value="3">Administrador</option>
					</select>
				</div>

				<div class="form-group password">
					<span class="label">Contraseña</span>
					<input name="password" type="password">	
				</div>
			</div>
		</div>
		</div>
	</div>
</div>