<div class="main-content">
	<div class="table-container">
		<div class="wrapper">
			<div class="inner">
				<table class="application-table">
					<thead class="table-header">
						<tr>
							<!-- <th> <span class="marker"></span> </th> -->
							<th>
								<span class="application-search-btn">ID Code Num / Name <span class="icon-search"></span> </span>
								<div class="search-form-group">
									<span class="ico-search"></span>
									<input class="search-input" type="text" name="search" placeholder="Buscar">
									<select class="search-category">
										<option value="" selected>All</option>
										<option value="name">Name</option>
										<option value="department">Area</option>
										<option value="theme">Theme</option>
										<option value="subtheme">Subtheme</option>
										<option value="family">Family</option>
										<option value="keywords">Keywords</option>
									</select>
									<span class="close-search-btn"></span>
								</div>
							</th>
							<th><span>Area</span></th>
							<th><span>Theme</span></th>
						</tr>
					</thead>

					<tbody>
					</tbody>
				</table>
			</div><!-- inner -->

		</div><!-- wrapper -->
	</div><!-- table-container -->

</div><!-- main-container -->
