<div class="main-content">
	<div class="application-container">

		<div class="application-header">
			<a href="layers" jslink>
				<span class="goback-btn">Back</span>
			</a>
			<!-- <span class="edit-btn">Modificar</span>  -->
		</div><!-- application-header -->

		<div class="application-content">

			<div class="application-basic-info">
				<div class="application-reference">
					<strong class="app-number"><span class="marker"></span>Layer <%=layer.id%></strong>
					ID Code Num: <strong><%=layer.id_code_num%></strong>
				</div>

				<h2 class="application-title"><%=layer.name%></h2>
				<div>Department <span id="plannedInvestment" class="amount-number"><%=layer.department%></span></div>
				<div class="amounts-compare-view">
					<div>Theme <span class="amount-number"><%=layer.theme%></span></div>
					<div>Subtheme <span class="amount-number"><% if(layer.subtheme){ %><%=layer.subtheme%><% }else{ %>-<% } %></span></div>
				</div>

				<div class="application-status">
					<div class="comment">
						<%=layer.observaciones%>
					</div>
				</div>
			</div><!-- application-basic-info -->

			<div class="application-accordion">
				<div class="accordion-group">
					<div class="panel-item expanded" id="basic_information">
					</div><!-- panel-item -->
				</div><!-- accordion-group -->
			</div><!-- application-accordion -->
		</div><!-- application-content -->
	</div><!-- application-container -->
	</div><!-- main-content -->

	<div id="close_module" class="lightbox">
		<div class="module-panel">
			<div class="module-header">

				<h3><span class="marker "></span>Cerrar solicitud No ejecutadA</h3>
				<span class="cancel-btn">Cancelar</span>
				<span class="save-btn">OK</span>
			</div><!-- module-header -->
			<div class="module-body">
				<p><strong>029</strong><em>Asistencia técnica para la realización de un proyecto de investigación
				para el desarrollo de aceituna aliñada</em></p>
				<form action="" class="application-form">
					<div class="form-group">
						<span class="label">Motivo</span>
						<select name="" id="">
							<option value="Renuncia voluntaria">
				Renuncia voluntaria</option>
				<option value="Option 2">Option 2</option>
				<option value="Option 3">Option 3</option>
				<option value="Option 4">Option 4</option>
						</select>
					</div><!-- form-group -->
					<div class="form-group form-block">
						<span class="label">Comentario</span>
						<textarea name="" id="comment" >

						</textarea>

					</div><!-- fomr-group -->
				</form>
			</div><!-- module-body -->

		</div><!-- module-panel -->
	</div><!-- close_module -->
</div><!-- map-container -->
