<div class="main-content">
	<div class="application-container user-edit edit-on">

		<div class="application-header">
			<a href="layers" jslink><span class="cancel-btn">Cancelar</span></a>
			<span id="create-new-btn" class="save-btn">Crear</span>
		</div><!-- application-header -->

		<div class="application-content">
			<div class="application-form user-form">
				<!-- <div class="form-group">
					<span class="label edit">ID Code Num</span>
					<input  id="layerIdcodenum" class="edit" type="text" name="id_code_num" maxlength="255">
				</div> -->

				<div class="form-group">
					<span class="label edit">Name</span>
					<input placeholder="Layer's name" id="layerName" class="edit" type="text" name="name" maxlength="255">
				</div>

				<div class="form-group">
					<span class="label edit">Area</span>
					<input placeholder="Select an Area for this dataset (or create it)"  id="layerDepartment" class="edit" type="text" name="department" maxlength="100">
					<select id="layerDepartmentSelect" class="layer">
						<option value="">Select area</option>
						<%  _.each(App.departments,function (departments){ 
								if(departments != ""){
						%>
							<option value="<%=departments%>"><%=departments%></option>
						<%  	}
						}); %>
					</select>
				</div>

				<div class="form-group">
					<span class="label edit">Theme</span>
					<input placeholder="Select a Theme for this dataset (or create it)" id="layerTheme" class="edit" type="text" name="theme" maxlength="100">
					<select id="layerThemeSelect" class="layer">
						<option value="">Select theme</option>
						<%  _.each(App.themes,function (themes){ 
								if(themes != ""){
							%>
							<option value="<%=themes%>"><%=themes%></option>
						<%  	}
						}); %>
					</select>

					<span class="label edit inline">Subtheme</span>
					<input placeholder="Select a Subtheme for this dataset (or create it)"  id="layerSubtheme" class="edit inline" type="text" name="subtheme" maxlength="100">
					<select id="layerSubthemeSelect" class="layer">
						<option value="">Select subtheme</option>
						<%  _.each(App.subthemes,function (subthemes){ 
								if(subthemes != ""){
						%>
							<option value="<%=subthemes%>"><%=subthemes%></option>
						<%  	}
						}); %>
					</select>
				</div>

				<div class="form-group separator">
					<span class="label">Summary</span>
					<textarea placeholder="Write a name for the project" id="layerSummary" name="summary" class="edit"></textarea>
				</div><!-- form-group -->

				<div class="form-group">
					<span class="label">Keywords</span>
					<div id="layerKeywords">
						<ul>
							<li>
								<input placeholder="Write a keyword" type="text" class="keyword" name="keyword" class="edit" maxlength="100">
								<a href="#" class="delkw">Delete</a>
							</li>
						</ul>
						<p class="label"><a href='#' id="addKeyword">Add keyword</a></p>
					</div>
				</div><!-- form-group -->

				<div class="form-group">
					<span class="label edit">Family</span>
					<input placeholder="Family's layer" id="layerFamily" class="edit" type="text" name="family" maxlength="100">
				</div>

				<div class="form-group separator">
					<span class="label">Project name</span>
					<input placeholder="Project's layer" id="layerProjectname" class="edit" type="text" name="project_name" maxlength="255">
				</div><!-- form-group -->

				<div class="form-group">
					<span class="label">Publication</span>
					<input placeholder="Where he is posted layer" id="layerPublication" class="edit" type="text" name="publication">
				</div><!-- form-group -->

				<div class="form-group separator">
					<span class="label">CRS (EPSG)</span>
					<input placeholder="Coordinate reference system with EPSG code"  id="layerCrs" class="edit" type="text" name="crs" maxlength="50">
					<span class="label inline">Extension</span>
					<select name="extension" id="layerExtension">
							<option value="med">Mediterranean sea</option>
							<option value="world">World</option>
							<option value="country">Country</option>
					</select>
				</div><!-- form-group -->

				<div class="form-group">
					<span class="label">Scale</span>
					<input placeholder="Map scale" id="layerScale" class="edit" type="text" name="scale" maxlength="20">
				</div>

				<!-- <div class="form-group">
					<span class="label">Bounding box</span>
					<input  id="layerBoundingbox" class="edit" type="text" name="bounding_box" maxlength="50">
				</div> -->

				<div class="form-group separator">
					<span class="label">Filepath link</span>
					<input placeholder="Layer's absolute path" id="layerFilelink" class="edit" type="text" name="link">
				</div><!-- form-group -->

				<div class="form-group">
					<span class="label">File format</span>
					<input placeholder="Layer's file format" id="layerFiletype" type="text" name="filetype" class="edit" maxlength="50">
				</div><!-- form-group -->

				<div class="form-group">
					<span class="label">File source</span>
					<input placeholder="Layer's file source" id="layerFile source" class="edit" type="text" name="source">
				</div><!-- form-group -->

				<div class="form-group separator hide">
					<span class="label">Edition date</span>
					<input id="layerEditiondate" class="edit hasDatePicker" type="text" name="edition_date" maxlength="50">
					<span class="label inline">Review date</span>
					<input id="layerReviewdate" class="edit hasDatePicker" type="text" name="review_date" maxlength="50">
				</div><!-- form-group -->

				<div class="form-group separator">
					<span class="label">Data responsible</span>
					<input placeholder="Person responsible of dataset" id="layerDataresponsible" class="edit" type="text" name="data_responsible" maxlength="255">
				</div><!-- form-group -->

				<div class="form-group">
					<span class="label">Metadata responsible</span>
					<input placeholder="Person responsible of metadata" id="layerMetadataresponsible" class="edit" type="text" name="metadata_responsible" maxlength="255">
				</div><!-- form-group -->

				<div class="form-group">
					<span class="label">Language</span>
					<input placeholder="Layer's language" id="layerLanguage" class="edit" type="text" maxlength="50" name="language">
				</div><!-- form-group -->

				<div class="form-group">
					<span class="label">Access limitation</span>
					<textarea placeholder="Dataset access and share policy" id="layerAccesslimitation" name="access_limitation" class="edit"></textarea>
				</div><!-- form-group -->

				<div class="form-group separator">
					<span class="label">Other information</span>
					<textarea placeholder="Other information or issues about the dataset" id="layerOtherinformation" name="other_info" class="edit"></textarea>
				</div><!-- form-group -->
			</div>
		</div>
		</div>
	</div>
</div>
