<div id="login_module" class="lightbox">
	<div class="module-panel">
		<header class="masthead">
			<h1><span class="logo">Serranía Suroeste Sevillana, Grupo de Desarrollo Rural</span></h1>
			<div class="login-container"><span class="login-txt">Login</span></div>
		</header><!-- module-header -->
		<div class="module-body">
			
			<form action="" class="application-form">
				<div class="form-group">
					<label for="userName" class="label">Usuario</label>				
					<input id="userName" type="text" placeholder="usuario@email.com">
				</div><!-- form-group -->
				<div class="form-group">
					<label for="userPassword"class="label">Contraseña</label>
					<input id="userPassword" type="password" placeholder="Contraseña">
				</div><!-- fomr-group -->
			<!-- 	<p class="helpblock">
					<a href="#">¿Contraseña olvidada?</a>
				</p> -->
				<div class="form-group sep">
					<button class="login-btn">Login</button>
				</div><!-- form-group -->
			</form>
		</div><!-- module-body -->	
	</div><!-- module-panel -->
</div><!-- close_module -->